@model AsturianuTV.Infrastructure.Data.Models.Material
@{
    Layout = "_AdminLayout";
}
<div>
    <div>
        <form asp-controller="Material" asp-action="Delete">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>