@model AsturianuTV.Infrastructure.Data.Models.Material
@{
    Layout = "_AdminLayout";
}

<section>
    <div class="form">
        <p>@Model.FilePath</p>
       
        <img src="@Model.FilePath" alt="Alternate Text" />
    </div>
</section>