@using AsturianuTV.Services.Interfaces
@inject ITeamService teamService
@model AsturianuTV.Infrastructure.Data.Models.Cybersports.Player
@{
    var teams = await teamService.GetAllTeams();
}
@{
    Layout = "_AdminLayout";
}

<form class="admin-form" asp-action="Edit" asp-controller="Player" asp-route-id="@Model.Id" enctype="multipart/form-data">

    <h2 class="form-title">Edit player</h2>
    <div class="form-groups">
        <div class="form-group">
            <label asp-for="FullName">FullName</label>
            <input class="field" type="text" asp-for="FullName" />
        </div>
        <div class="form-group">
            <label asp-for="Logo">Logo</label>
            <input class="field" type="text" asp-for="Logo" />
        </div>
    </div>
    <div class="form-groups">
        <div class="form-group">
            <label asp-for="Country">Country</label>
            <input type="text" asp-for="Country" />
        </div>

        <div class="form-group">
            <label asp-for="FullPrice">FullPrice</label>
            <input type="text" asp-for="FullPrice" />
        </div>
    </div>
    <div class="form-groups">
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea type="text" asp-for="Description"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Bday"></label>
            <input asp-for="Bday" type="date" />
        </div>
    </div>
    <div class="form-groups">
        <div class="form-group">
            <select asp-for="TeamId" size="1">
                <option value="null">Without team</option>
                @foreach (var team in teams)
                {
                    <option value="@team.Id">@team.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <button class="save-button" type="submit">
            Save
        </button>
    </div>
</form>
