@model AsturianuTV.ViewModels.LoginModel
@{
    Layout = "_SignInLayout";
}

<div class="container">
    <span class="error " id="msg"></span>
    <form asp-action="Login"
          asp-controller="Account"
          asp-antiforgery="true"
          class="box">
        <h4>DotaHelper</h4>
        <h5>Sign in to your account.</h5>

        <input asp-for="Email" type="text" name="email" placeholder="Email" autocomplete="off">
        <span asp-validation-for="Email" />
        <input asp-for="Password" type="password" name="password" placeholder="Passsword" autocomplete="off">
        <span asp-validation-for="Password" />
        <div class="confirm-wrapper">
            <input type="submit" value="Sign in" class="btn1">
            <a asp-controller="Account" asp-action="Register" class="dnthave">Don’t have an account? Sign up</a>
        </div>
    </form>
</div>
