@model AsturianuTV.Dto.NewsDto
@{
    Layout = "_AdminLayout";
}
<form class="form" asp-action="Create" asp-controller="News">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title: </label>
        <input class="field" type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description: </label>
        <input class="field" type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="IsReady" class="control-label">IsReady: </label>
        <input class="field" type="text" asp-for="IsReady" class="form-control" />
    </div>

    <div class="form_label">
        <div class="multiselect_block">
            <label for="select-1" class="field_multiselect">Tags</label>

            <input id="checkbox-1" class="multiselect_checkbox" type="checkbox">
            <label for="checkbox-1" class="multiselect_label"></label>

            <select id="select-1" class="field_select" asp-for="Tags" name="Tags" multiple>
                @foreach (var tag in Model.Tags)
                {
                    <option value="@tag.Id">@tag.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form_label">
        <div class="multiselect_block">
            <label for="select-2" class="field_multiselect">Frameworks</label>

            <input id="checkbox-2" class="multiselect_checkbox" type="checkbox">
            <label for="checkbox-2" class="multiselect_label"></label>

            <select id="select-2" class="field_select" asp-for="Materials" name="Materials" multiple>
                @foreach (var tag in Model.Materials)
                {
                    <option value="@tag.Id">@tag.FilePath</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

@section NewsStyles { 
    <link href="~/css/news.css" rel="stylesheet" />
}

@section NewsScripts {
    <script src="~/js/news.js"></script>
}