@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@500&display=swap');

body {
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/rosh-background.jpg);
    background-size: auto;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(../lib/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../lib/fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../lib/fonts/Segoe UI.ttf');
}

@font-face {
    font-family: 'Segoe UI Italic';
    src: url('../lib/fonts/Segoe UI Italic.ttf');
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url(../lib/fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Segoe UI Bold Italic';
    src: url('../lib/fonts/Segoe UI Bold Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../lib/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../lib/fonts/Roboto-Italic.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, p, h1, h2, h3, h4, h5, h6, label {
    font-family: 'Roboto';
    text-decoration: none;
}

.admin-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #2d3641;
    display: flex;
}

.admin-actions {
    padding: 15px;
    float: left;
    width: 20%;
    overflow-y: auto;
    background-color: #242a37;
    margin: 10px 0 10px 10px;
}

.admin-actions::-webkit-scrollbar {
    width: 8px;
}

.admin-actions::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.admin-actions::-webkit-scrollbar-track {
    background-color: #2d3641;
}

.admin-content {
    float: left;
    width: 80%;
    background-color: #242a37;
    margin: 10px;
}

.admin-content-blocks {
    max-width: 80%;
    height: -webkit-fill-available;
    margin: 50px auto;
    overflow-y: auto;
}

.admin-content-block-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.admin-content-block-top > a {
    font-family: 'Roboto Bold';
    font-size: 18px;
    color: #fe6637;
}

.admin-content-block-title {
    color: white;
    font-family: 'Roboto Bold';
    font-size: 26px;
}

.admin-actions-title {
    color: white;
    font-family: 'Roboto Bold';
    margin-bottom: 5px;
    font-size: 16px;
}

.admin-actions-block:not(:first-child) {
    margin-top: 20px;
}

.text-field-label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field-input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field-input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field-input:disabled,
.text-field-input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.admin-action {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #fe6637;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #fe6637;
    transition: .3s all;
}

.admin-action:hover {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #fe6637;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #fe6637;
}

table {
    overflow-y: auto;
}

th {
    font-family: 'Roboto Bold';
}
td {
    font-family: 'Roboto';
}

td, th {
    color: white;
    background-color: #2d3641;
}

.dataTables_filter {
   margin-bottom: 20px;
}

.dataTables_filter > label {
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
}

.dataTables_filter > label > input {
    margin-left: 10px !important;
}

.dataTables_filter > label > input:focus-visible {
    outline: none;
}

.table-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.table-actions > form > button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.dataTables_info {
    color: white!important;
    font-family: 'Roboto';
    font-size: 13px;
}

.table-action-img {
    width: 24px;
    height: 24px;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 1.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #fe6637;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #fe6637 !important;
    transition: .3s all;
    margin-left: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #fe6637;
    background: none;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #fe6637;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #fe6637;
    background-color: #fe6637;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #555 !important;
    font-family: 'Roboto';
    font-size: 14px;
}

.admin-form {
    background-color: #2d3641;
    padding: 20px;
}

.form-groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.form-group {
    width: 50%;
    margin-top: 15px;
}

.form-group > input {
    width: 100%;
    font-size: 14px;
    padding: 7px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
}

.form-group > input,
.form-group > textarea {
    margin-top: 5px;
}

.form-radio > input{
    margin-top: 15px;
}

.form-group > textarea {
    width: 100%;
    height: 80px;
    resize: none;
    padding: 7px;
}

.form-group > input:focus,
.form-group > textarea:focus {
    outline: none;
}

.form-group > label,
.form-radio > label {
    color: white;
    font-size: 16px;
}

.form-group {
    width: 50%;
}

.form-title {
    color: white;
}

.save-button {
    color: #fe6637;
    font-size: 16px;
    background: none;
    border-radius: 3px;
    border: 1px solid #fe6637;
    padding: 5px 25px;
    transition: .3s all;
    cursor: pointer;
}

.save-button:hover {
    color: white;
    background-color: #fe6637;
}
