@model AsturianuTV.Infrastructure.Data.Models.Character
@{
    Layout = "_AdminLayout";
}

<section>
    <div class="form">
        <p>@Model.Name</p>
       
        <div class="secondary-info">
            <p>
                @if (@Model.ImagePath == null)
                {
                    <span>No Image</span>
                }
                else
                {
                    <img class="content-img" src="@Model.ImagePath" alt="Alternate Text" />
                }
            </p>
          
            <p>@Model.Damage</p>
        </div>
    </div>
</section>