<!DOCTYPE html>
<html>
<head>
    <title>Dota Helper Admin</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    @RenderSection("AdminMainPageStyles", required: false)
    @RenderSection("CharacterStyles", required: false)
    @RenderSection("NewsStyles", required: false)
    <meta charset="UTF-8" />
</head>

<body>
    <main class="admin-wrapper">
        <div class="admin-actions">
            <div class="base-of-knowledge">
                <a asp-controller="" asp-action="">Heroes</a>
                <a asp-controller="" asp-action="">Skills</a>
                <a asp-controller="" asp-action="">Items</a>
            </div>
            <div class="subscription">
                <a asp-controller="" asp-action="">Users</a>
                <a asp-controller="" asp-action="">Subscriptions</a>
                <a asp-controller="" asp-action="">Plans</a>
            </div>
            <div class="cybersport">
                <a asp-controller="" asp-action="">Leagues</a>
                <a asp-controller="" asp-action="">Teams</a>
                <a asp-controller="" asp-action="">Players</a>
                <a asp-controller="" asp-action="">News</a>
            </div>
        </div>
        <div>
            <main>@RenderBody()</main>
        </div>
    </main>
</body>
</html>