<!DOCTYPE html>
<html>
<head>
    <title>Dota Helper Admin</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    @RenderSection("AdminMainPageStyles", required: false)
    @RenderSection("CharacterStyles", required: false)
    <meta charset="UTF-8" />
</head>
<body>
    <div id="app">
        <div class="primary-nav">
            <a href="/">
                <img class="logo" src="~/assets/icon-dota.svg" alt="">
            </a>
            <a class="logo-link tooltip-right" href="/" data-tooltip="Dota settings">
                <img class="logo-settings" src="~/assets/dota-settings.svg" alt="">
            </a>
            <a class="logo-link tooltip-right" href="/" data-tooltip="Subscripe settings">
                <img class="logo-settings" src="~/assets/icon-subscriptions.svg" alt="">
            </a>
            <a class="logo-link tooltip-right" href="/" data-tooltip="News settings">
                <img class="logo-settings" src="~/assets/icon-news.svg" alt="">
            </a>
            <a class="logo-link tooltip-right" href="/" data-tooltip="User settings">
                <img class="logo-settings" src="~/assets/icon-settings.svg" alt="">
            </a>
        </div>
        <div class="nav">
            <div class="mini-header"></div>
            <div id="navContent">
                <div class="content-bar">
                    <a class="create-title" asp-action="Create" asp-controller="Character">Добавить героя</a>
                    <a class="create-title" asp-action="Create" asp-controller="Skill">Добавить скилл</a>
                    <a class="create-title" asp-action="Create" asp-controller="Item">Добавить предмет</a>
                    <a class="create-title" asp-action="Create" asp-controller="News">Добавить новость</a>
                    <a class="create-title" asp-action="Create" asp-controller="Subscription">Добавить подписку</a>
                </div>
            </div>
        </div>
        <div class="asset-grid" id="grid">
            <main id="particles-js">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/particles.js"></script>
    @RenderSection("CharacterScripts", required: false)
</body>
</html>