@{
    Layout = "_Layout";
}

<div>
    <h2>News</h2>
    <h2>Leagues</h2>
    <h2>Teams</h2>
</div>

<div>
    <h2>Timeline</h2>
    <a asp-controller="Home" asp-action="Players">Players</a>
    <a asp-controller="Home" asp-action="Leagues">Leagues</a>
</div>

