@model List<AsturianuTV.Infrastructure.Data.Models.BaseKnowledges.Character>
@{
    Layout = "_Layout";
}
<div class="characters-page">
    <div class="wrapper">
        <section class="characters">
            <div class="characters-grid">
                @foreach (var character in Model)
                {
                    <a class="character-card-link">
                        <div class="characters-card">
                            <div class="character-img-wrapper">
                                <img class="character-img" src="@character.ImagePath" alt="Alternate Text" />
                            </div>
                            <h2 class="character-tittle">@character.Name</h2>
                        </div>
                    </a>
                }
            </div>
        </section>
    </div>
</div>