@model List<AsturianuTV.Infrastructure.Data.Models.BaseKnowledges.Character>
@{
    Layout = "_AdminLayout";
}

<div class="admin-content-block">
    <div class="admin-content-block-top">
        <h2 class="admin-content-block-title">Heroes</h2>
        <a asp-controller="Character" asp-action="Create">
            Create new heroe
        </a>
    </div>
    <table id="tableId" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Character Attribute</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Attribute</td>
                    <td class="table-actions">
                        <a class="table-action" 
                           asp-controller="Character" 
                           asp-action="Edit" 
                           asp-route-id="@item.Id">
                            <img class="table-action-img" src="~/assets/icons8-редактировать.svg" alt="Alternate Text" />
                        </a>
                        <form asp-controller="Character" 
                              asp-action="Delete" 
                              method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button class="table-action" type="submit" name="delete">
                                <img class="table-action-img" src="/assets/icons8-мусор (1).svg" alt="Alternate Text" />
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>