@{
    Layout = "_AdminLayout";
}
<section>
    <h1><a href="" id="back"></a><span id="title"></span></h1>
    <div class="content" id="content">
        <div class="folder">
            <img class="folder" src="~/assets/folder.png" alt="Alternate Text"/>
        </div>
    </div>
    <div id="breadcrumbs" class="breadcrumbs"></div>
</section>

@section AdminMainPage{
    <link href="~/css/admin-main.css" rel="stylesheet" />
}