@{
    Layout = "_AdminLayout";
}

<form class="admin-form" asp-action="SyncCharacters" asp-controller="Admin" enctype="multipart/form-data">
    <div class="form-group">
        <button class="save-button" type="submit">
            Sync Characters
        </button>
    </div>
</form>