@{
    Layout = "_AdminLayout";
}
<section>
    <h1><a href="" id="back"></a></h1>
    <h2 class="page-title">Dota Setting</h2>
    <div class="content" id="content">
        <a class="folder-link" asp-action="Index" asp-controller="Character">
            <h3 class="title-card">Heroes setting</h3>
            <img class="folder" src="~/assets/folder.png" alt="Alternate Text"/>
        </a>
        <a class="folder-link" asp-action="Index" asp-controller="Skill">
            <h3 class="title-card">Skills setting</h3>
            <img class="folder" src="~/assets/folder.png" alt="Alternate Text"/>
        </a>
        <a class="folder-link" asp-action="Index" asp-controller="Skill">
            <h3 class="title-card">Items setting</h3>
            <img class="folder" src="~/assets/folder.png" alt="Alternate Text"/>
        </a>
    </div>
    <div id="breadcrumbs" class="breadcrumbs"></div>
</section>

@section AdminMainPageStyles
{
    <link href="~/css/admin-main.css" rel="stylesheet" />
}