@model AsturianuTV.Dto.BlogDto
@{
    Layout = "_AdminLayout";
}

<form class="form" asp-action="Create" asp-controller="Blog">
    <h2 class="form-title">Добавление блога</h2>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название: </label>
        <input class="field" type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Название: </label>
        <input class="field" type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form_label">
        <div class="multiselect_block">
            <label for="select-2" class="field_multiselect">Frameworks</label>

            <input id="checkbox-2" class="multiselect_checkbox" type="checkbox">
            <label for="checkbox-2" class="multiselect_label"></label>

            <select id="select-2" class="field_select" asp-for="Materials" name="Materials" multiple>
                @foreach (var material in Model.Materials)
                {
                    <option value="@material.Id">@material.FilePath</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PlanId" class="control-label">Выберите подписку</label>
        <select class="select" asp-for="PlanId">
            <option disabled>Выбрать подписку</option>
            @foreach (var plan in Model.Plans)
            {
                <option value="@plan.Id">@plan.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input class="btn submit" type="submit" value="Отправить" />
    </div>
</form>

@section NewsStyles {
    <link href="~/css/news.css" rel="stylesheet" />
}

@section NewsScripts {
    <script src="~/js/news.js"></script>
}