@model AsturianuTV.Infrastructure.Data.Models.Blog
@{
    Layout = "_AdminLayout";
}

<section>
    <div class="form">
        <p class="info">@Model.Title</p>
        @if (Model.Plan == null)
        {
            <p class="info">План не создан</p>
        }
        else
        {
            <p class="info">@Model.Plan.Name</p>
        }
    </div>
</section>