@using AsturianuTV.Services.Interfaces

@inject ITeamService teamService
@model AsturianuTV.ViewModels.System.LeagueViewModels.UpdateLeagueViewModel
@{
    var teams = await teamService.GetAllTeams();
}
@{
    Layout = "_AdminLayout";
}

<form class="admin-form" asp-action="Edit" asp-controller="League" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <h2 class="form-title">Edit league</h2>
    <div class="form-groups">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input  type="text" asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Logo">Logo</label>
            <input  type="text" asp-for="Logo" />
        </div>
    </div>
    <div class="form-groups">
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea class="text-field-textarea" type="text" asp-for="Description"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="PriceFound">Price pool</label>
            <input  type="text" asp-for="PriceFound" />
        </div>
    </div>
    <div class="form-groups">
        <div class="form-group">
            <label asp-for="StartDate"></label>
            <input  asp-for="StartDate" type="date" />
        </div>
        <div class="form-group">
            <label asp-for="EndDate"></label>
            <input  asp-for="EndDate" type="date" />
        </div>
    </div>

    <input type="hidden" asp-for="TeamIds" />

    <div class="form-group">
        <label asp-for="TeamIds">Select teams</label>
        <select class="js-example-basic-multiple" asp-for="TeamIds" multiple>
            @foreach (var team in teams)
            {
                <option value="@team.Id">@team.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button class="save-button" type="submit">
            Save
        </button>
    </div>
</form>


<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>