@model AsturianuTV.Infrastructure.Data.Models.Tag
@{
    Layout = "_AdminLayout";
}

<form class="admin-form" asp-action="Create" asp-controller="Tag" enctype="multipart/form-data">
    <h2 class="form-title">Create tag</h2>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name">
    </div>
    <div class="form-group">
        <button class="save-button" type="submit">
            Save
        </button>
    </div>
</form>